
# http://eslint.org/docs/configuring/

env:
  browser: true
  node: true

ecmaFeatures:
  jsx: true
  objectLiteralShorthandMethods: true
  objectLiteralShorthandProperties: true
  blockBindings: true
  templateStrings: true
  arrowFunctions: true
  destructuring: true

rules:
  quotes: [2, "single"]
